body {
  color: #18164f;
  padding: 20px;
  max-width: 570px;
  display: block;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
}

.footer {
  text-align: center;
}

.btn-primary {
  margin-left: -15px;
}

.location {
  margin-left: -15px;
  color: white;
  background-color: #5a0cd6;
  border-color: #5a0cd6;
}
.location:hover {
  background-color: #6c32c9;
  border-color: #5a0cd6;
}

h1 {
  color: #18164f;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.cityName {
  margin-top: -10px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.currentDate {
  font-weight: bold;
}

.current {
  margin-top: -25px;
}

.stats {
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}

.highLow {
  position: relative;
  top: 10px;
}

.currentTemp {
  font-size: 100px;
  text-align: right;
}
.degrees {
  color: #18164f;
  position: relative;
  top: 20px;
  left: -18px;
  font-size: 40px;
  text-align: left;
}

.currentPic {
  text-align: center;
}

.description {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
}

.wind-descrip {
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-top: -10px;
}

.upcomingTemp {
  margin-top: -20px;
  margin-bottom: -9px;
  font-size: 50px;
}
.data {
  margin-top: -10px;
  font-size: 15px;
}

.upcomingWeather {
  margin-bottom: -10px;
  font-weight: bold;
}

.weather-forecast {
  text-transform: capitalize;
  font-size: 15px;
  text-align: center;
}

.forecast-date {
  opacity: 0.7;
}

.weather-forecast-image {
  font-size: 50px;
  opacity: 0.9;
}
.weather-forecast-temp-min {
  opacity: 0.7;
}
.icon {
  font-size: 100px;
}
